alembic==1.13.3
annotated-types
anyio
async-timeout==4.0.3
asyncpg==0.29.0
click
fastapi
greenlet==3.1.1
h11
idna
iniconfig==2.0.0
Mako==1.3.5
MarkupSafe==3.0.1
packaging==24.1
pluggy==1.5.0
psycopg2==2.9.9
pydantic
pydantic_core
pytest==8.3.3
pytest-asyncio==0.24.0
python-dotenv==1.0.1
sniffio
SQLAlchemy==2.0.35
starlette
typing_extensions
uvicorn